@import "../../styles";
.container {
  background-color: $color-primary;
  border: 1px solid $color-black;
  width: 120rem;
  margin: 0 auto;
  @include respond(tab-port) {
    width: 100%;
    margin: 0 0 1rem 0;
  }
  &__search {
    input {
      height: 3rem;
      width: 50%;
      margin: 1rem auto;
      background: $color-secondary;
      border-radius: 5px;
      @include respond(tab-port) {
        width: 100%;
        margin: 0 0 1rem 0;
      }
    }
  }
  &__photos {
    ul {
      li {
        text-decoration: none;
        display: flex;
        align-content: center;
        justify-content: space-between;
        &:nth-child(odd) {
          background-color: $color-lightgreen;
        }
        &:nth-child(even) {
          background-color: $color-white;
        }
        height: 4rem;
        img {
          justify-content: center;
          margin: 0.5rem;
        }
      }
    }
    &--id {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
    }
    &--title {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    &--box {
      flex: 1 0 1rem;
    }
  }
}
